%-*-Erlang-*-

{deps, %% XXX translated in .script
 [
  {jiffy, "https://github.com/davisp/jiffy.git", "0.14.11"}
 ]}.

{eunit_opts,
 [
  verbose,
  {skip_deps, true},
  {report,{eunit_surefire,[{dir,"."}]}}
 ]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.
